*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
   
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255 223 191 / 49%);
    height:100%;
  
}
ul,a,Link{
    list-style: none;
    text-decoration:none;

}
a:visited{
    text-decoration:none;
    decoration: none; 
}
.container{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width:80%;

    /*to disable scrolling*/
}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    margin-top:30px;

}
.menu {
    margin: 25px 0 25px 0;
 
}
.menu a{
    text-decoration:none;
    padding:10px 20px;
    font-size:15px;
    color: black;
}
.menu a:hover{
    color: orange;
}
.btn{
    background-color:orange;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    
}
.btn:hover{
    background-color:transparent;
    color:black;
}
.not-found{
    background-color:#ff0000d1;
    width:100%;
    padding:15px 10px;
    color:white;

}


/* ****************** Post style ************** */

.second-container{
    width:80%;
    margin:30px auto;
}
.img-container{
    margin:0 auto;
    transition: all .2s ease-in-out; 
    overflow:hidden;
    height:214px;
}

.img-container img{
    width:100%;
    margin-bottom:20px;
    height:100%;
}
.img-container img:hover{
    transform: scale(1.1);
    position: relative;
    left:0;
    right:0;
    top:-26px;
    bottom:0px;
}
.post-content{
    margin-bottom:50px;

}
.post-content span{
 margin-top:15px;
 margin-bottom:10px;
 display:block;
 color:orange;
}
.post-content p{
    font-size:13px;
    color:#a1a1a1;
    line-height:1.7;

}

/* create new post style **/
section{
 width:80%;
margin:30px auto;
margin-bottom:100px;
}
form{
    width:100%;
    margin:30px auto;
    padding:30px;
    border:1px solid #121212;
    box-shadow: -1px 0px 5px 8px #b57f009c;

}
label{
  margin-bottom:5px;
display:block;

}
input,select {
    width:100%;
    height:30px;
    padding-left:10px;
    margin-bottom:10px;
}
textarea{
    width:100%;
    margin:10px 0 10px 0;
    padding:10px 0 0 10px;
}
button{
    width:100%;
    height:40px;
    padding:5px 0;
    display:block;
    border:none;
    background-color:#daad47;
    cursor: pointer;
    border-radius:5px;
    margin-top:10px;

   

}
button:hover{
    background-color:orange;
}

/*** single post ***/
.img{
    margin:20px auto;
    width:260px;
    height:auto;
    display:block;


}
.img img{
    width: 100%;
    height:auto;
    border-radius:5px;
}
.error h1{
    font-size:18px;
    color:#727272;
    text-align:center;
    padding:20px 20px 5px;
}
.go-home{
    color:orange;
    text-align:center;
display: block;

}


.footer h1{
    letter-spacing:1.4em;
    background-color:black;
    color:white;
    padding:10px;
    text-align:center;
    font-size:13px;
}

.footer{
   
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
    }



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.header{
    justify-content:space-between;
}
    

   .single-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:100px;

    }
    .second-container{
        width:35%
    }
    .single-post-content{
        display:flex;
        justify-content:space-between;
        align-items:center;

    }
    .single-btn{
        width:10%;
        margin:10px 0;
    }
    h6{
        margin:10px 0;
    }
p{
    margin-bottom:10px;
}
.img{
    width:100%;
    height:300px;
    overflow:hidden;
}
.img img{
    min-width:100%;
    min-height:100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
    .second-container{
        width:21%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}